
<form action="/messages/sent/{{theJob._id}}" method="POST">
<fieldset>
<legend>Job Title: {{theJob.jobTitle}}</legend>
<p>
<label for="">Send To</label>
{{#each theJob.postedBy}}
<input type="text" name="sendto" value="{{this.username}}" readonly/>
{{/each}}
</p>
<p>
<label for="">Message</label>
<input type="text" name="message"/>
</p>
{{#each theJob.postedBy}}
<input type="hidden" name="postedby" value="{{this._id}}">
{{/each}}
<p><input type="submit" name="button" id="msgbutton" value="SEND" />
</p>
</fieldset>
</form>