
  <form action="/login" method="POST">
<fieldset id="signup">
<legend>Login</legend>
<p>
<label for="">Username</label>
<input type="text" name="username" placeholder="Your Username"/>
</p>
<p>
<label for="">Password</label>
<input type="password" name="password" placeholder="Your Password"/>
</p>
</fieldset>
<p><input type="submit" name="button" id="loginbutton" value="Log In" />
</p>
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <div id="account-message">
    Don't have an account?
    <a href="/signup">Sign Up</a>
  </div>
</form>
