
<form action="/signup" method="POST" id="form-container">
<fieldset id="signup">
<legend>Sign Up</legend>
<p>
<label for="firstname">First Name</label>
<input id="firstname" type="text" name="firstname" placeholder="Your First Name">
</p>
<p>
<label for="lastname">Last Name</label>
<input id="lastname" type="text" name="lastname" placeholder="Your Last Name">
</p>
<p>
<label for="username">Username</label>
<input id="username" type="text" name="username" placeholder="Your Username">
</p>
<p>
<label for="password">Password</label>
<input id="password" type="password" name="password" placeholder="Your Password">
</p>
<p>
<label for="email">Email</label>
<input id="email" type="text" name="email" placeholder="Your email">
</p>
<p>
<label for="role">User Type</label>
  <select name="role">
  <option value="Trimmer">Trimmer</option>
  <option value="Farmer">Farmer</option>
 </select>
</p>

  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <button id="createaccountbutton">Create account</button>

  </fieldset>
</form>

<div id="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
  </div>

  