<div class="trimmers-heading">
  <div id="heading-text">
    <h1 id="trimmers">
      Trimmers' Network
      </h1>
  </div>
  

</div>

<div class="homepage-contents">
  <div id="homepage-navbar">
    <ul id="navbar">
      <li><a href="/signup">SIGN UP</a></li>
      <li><a href="/login">LOG IN</a></li> 
    </ul>
    <div id="trimmers-div">
      <p>Text about trimmers network</p>
    </div>


  </div>



</div>

