<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body id="body">

<div class="trimmers-heading">
  <div id="heading-text">
    <h1 id="trimmers">
      Trimmers' Network
      </h1>
  </div>
  <img src="/images/thumbnail.png">
</div>

<div class="homepage-contents">
  <div id="homepage-navbar">
    <ul id="navbar">
      <li id="topli"><a href="/signup">Sign Up</a></li>
      <li><a href="/login">Log In</a></li> 
    </ul>
    <div id="pics">
       <div id="pic1">
          <div id="layer1"></div>
       </div>
       <div id="pic2">
         <div id="layer1"></div>
        <div id="homepage-text">
         Trimmers' Network connects farmers and trimmers through a job board specifically designed for the industry.
        </div>
    </div>
    </div>
   


  </div>



</div>


</body>
</html>