<h1>Add A New Job Listing</h1>

<form action="/jobs/create" method="POST">

<label for="">Job Title</label>
<input type="text" name="title">

<label for="">Number of Workers Needed</label>
<input type="number" name="numberworkers">

<label for="">Duration of Job</label>
<input type="text" name="duration">

<label for="">Location</label>
<input type="text" name="location">

<label for="">Pay Rate</label>
<input type="text" name="payrate">

<label for="">Accommodations Description</label>
<input type="text" name="accommodations">

<label for="">Travel Reimbursement</label>
<input type="text" name="travel">

<label for="">Additional Information</label>
<input type="text" name="notes">

<input type="submit" value="SAVE">

</form>

